/* colors */

$color-primary: #55c57a;
$color-secondary: #7ed56f;
$color-tertiary: #28b485;

//text
$color-dark-grey: #777;
$text: #777;
$color-white: #fff;

//gradient
$color-primary--grad: #7ed56fd0;
$color-tertiary--grad: #28b485d0;
